h1{
    color: red;
}
h2{
    font-style: italic;

    color:red;
}
ol{
    color:brown;
}
span{
     
    background-color: yellow;
}
ul{
      letter-spacing:5px;
    color:brown;
}
p{
    color:brown ;
}
a{
    text-decoration: none;
}